<% if feed.is_valid? %>
    <a href="<%= feed.get_review_url %>" rel="external">
      <span class="logo"></span>
      <span class="text">We've been rated</span>
      <span class="score">''<%= feed.get_human_score %>''</span>
        <span class="rating">
          <span class="average"><%= feed.get_score / 10.0 %></span><span class="best"> / 10</span>
        </span>
      <span class="footer">Click and give us your rating on Trustpilot.com</span>
    </a>
<% end %>
